
.contenu {
    background-image: url('public/IMG/wallpaperbetter.com_7680x4320.jpg');
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}
/* Style pour la vidéo */
.contenu video {
    width: 50%;
    
    display: block;
    position: center;
}

/* Style pour le carrousel */
#carouselExampleAutoplaying {
    width: 100%;
    max-width: 1200px; /* Ajustez la largeur maximale selon vos besoins */
    margin: auto;
}

#carouselExampleAutoplaying img {
    width: 100%;
    height: auto;
}

/* Autres styles pour le carrousel (optionnel) */
.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item {
    text-align: center;
}

/* Style pour les cartes des catégories */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 89, 255);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px; /* Ajustez la hauteur de l'image selon votre besoin */
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    margin-top: 1rem;
    color: #ff0000;
}

/* Style pour le bouton de lien */
.nav-link-custom {
    color: #fe0000;
    transition: all 0.3s ease;
}

.nav-link-custom:hover {
    color: #0077ff; /* Couleur au survol */
}

/* Style pour le menu de navigation */
.navbar {
    background-color: #006aff;
}



