

<footer class="fixed-bottom">

    <div class="container-fluid m-auto fixed-bot mb-4" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Coordonnées</h3>
                    <ul>
                        <li><i class="bi bi-geo-alt-fill"></i> 123 Rue du District, 75000 Paris</li>
                        <li><i class="bi bi-telephone-fill"></i> +33 1 23 45 67 89</li>
                        <li><i class="bi bi-envelope-fill"></i> info@thedistrict.com</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Horaires</h3>
                    <ul>
                        <li>Lundi - Vendredi: 10h - 22h</li>
                        <li>Samedi - Dimanche: 12h - 23h</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Suivez-nous</h3>
                    <ul class="social-media-icons">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Liens Utiles</h3>
                    <ul>
                        {# Ajoutez vos liens utiles ici
                        <li><a href="{{ path('mentions_legales') }}">Mentions Légales</a></li>
                        <li><a href="{{ path('politique_de_confidentialite') }}">Politique de Confidentialité</a></li> #}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>