{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!
{% endblock %}

{% block body %}
<br><br><br>



<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mon Projet</title>
    {{ encore_entry_link_tags('my-table') }}
</head>
<body>
    <div id="table-app"></div>
    <!-- Autres éléments de votre page -->
    {{ encore_entry_script_tags('my-table') }}
</body>
</html>

{% endblock %}