{% extends 'base.html.twig' %}

{% block title %}The District
{% endblock %}

{% block body %}

	<div class="row video-container">
		<div class="fst" id="titre-accueil">
			<h1>The District</h1>
		</div>

	</div>



<main class="container mt-4" style="width:30%;">
	<div class="row">
	   {% set sortedCategories = categories|sort((a, b) => a.libelle <=> b.libelle) %}
                {% for categorie in sortedCategories %}
			<div class="col-md-6 mb-4">
				<div class="card text-center" id="images" style="width: 25rem;">
					<a href="{{ path('app_plats_categorie', {'categorie_id': categorie.id}) }}"><img src="{{ asset('IMG/category/' ~ categorie.image) }}" alt="{{ categorie.libelle }}"></a>


					<div class="card-body">
						<h5 class="card-title">{{ categorie.libelle }}</h5>
					</div>
				</div>
			</div>


		</div>
	{% endfor %}
</div></main>{% endblock %}
