{% extends 'base.html.twig' %}

{% block title %}The District
{% endblock %}

{% block body %}
	<div class="row video-container">
		<div class="fst-italic" id="titre-accueil">
			<h1>The District</h1>
		</div>
		<!-- barre de recherche -->
	</form>

	<form class="search-form d-flex justify-content-center" id="search-bar">
		<input type="text" id="search-input" placeholder="Rechercher...">
		<button class="btn text-light bg-dark" type="submit">
			<i class="bi bi-search"></i>
		</button>
		<!-- <div id="suggestions"></div> -->
	</form>

	<video
		controls="controls" class="" loop="loop" autoplay="autoplay" muted
        {# video a mettre #}
        		<source src="{{ asset('VIDEO/video2.mp4')}}">

	</video>
</div>

<main class="container mt-4">
	<div class="row">
		{% for categorie in categories %}
			<div class="col-md-6 mb-4">
				<div class="card" id="images" style="width: 18rem;">
					<img src="{{ asset('IMG/category/' ~ categorie.image) }}" alt="{{ categorie.libelle }}">
					<div class="card-body">
						<h5 class="card-title">{{ categorie.libelle }}></h5>
					</div>
				</div>
			</div>
			{# $count++; // Incrémentez le compteur
			            // Si vous avez affiché 2 disques, fermez la rangée actuelle et commencez une nouvelle rangée
			            if ($count % 2 == 0) {
			                echo '</div><div class="row">';
			            } #}
			{% if loop.index is even %}
			</div>
			<div class="row">
			{% endif %}
		{% endfor %}
	</div>
</main>{% endblock %}