{% extends 'base.html.twig' %}

{% block title %}The District
{% endblock %}

{% block body %}
	<div class="row video-container">
		<div class="fst" id="titre-accueil">
			<h1>The District</h1>
		</div>
		
	 </div>



			    <!-- Carrousel -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="IMG/bg.jpg" class="d-block w-2500"
                    alt="IMG/bg.jpg" style="width: 2500px; height: 450px;">
            </div>
            <div class="carousel-item">
                <img src="IMG/bg1.jpeg" class="d-block w-2500"
                    alt="IMG/bg1.jpeg" style="width: 2500px; height: 450px;">
            </div>
            <div class="carousel-item">
                <img src="IMG/bg3.jpeg" class="d-block w-2500"
                    alt="IMG/bg3.jpeg" style="width: 2500px; height: 450px;">
            </div>
        </div>
</div>
</div>
<main class="container mt-4">
	<div class="row">
		{% for categorie in categories %}
			<div class="col-md-6 mb-4">
				 {# <div class="card" id="images" style="width: 18rem;"> #}
					<img src="{{ asset('IMG/category/' ~ categorie.image) }}" alt="{{ categorie.libelle }}">
					<div class="card-body">
						<h5 class="card-title">{{ categorie.libelle }}</h5>
					</div>
				</div>
			</div>

      
    </div>


			{% if loop.index is even %}
			</div>
			<div class="row">
			{% endif %}
		{% endfor %}
	</div>
</main>{% endblock %}